{% extends ":Layout:layout_large.html.twig" %}

{% block title %} Accueil {% endblock %}

{% block content %}
	
	<h3>Commandes en cours</h3>
		<div class="row">
			{% include "FragosoBundle:Commande:snippet_commande.html.twig" with {'liste_commandes': liste_commandes_encours} %}
		</div>
		
	<h3>Clients débiteurs</h3>
		Rappel des mauvais payeurs 
{% endblock %}
