body {
    background-color: #f5f7f8 !important
}

.navbar-inverse {
    background-color: #4d636f !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-header > a {
    color: #fff;
}