/* Display responsive menu bar */
.navbar-nav > li > a, .navbar-brand {
    height: 52px;
    font-size: 18px;
}
/* Size the menu bar */
.navbar-inverse {
    min-height:52px !important;
    margin-bottom: 8px;
}


#left_column {
    /*padding-left: 25px; */
    /*padding-left: 22px;*/
    padding-right: 5px;
    padding-left: 1%;
}

#right_column {
    /*padding-right: 17px;*/
    padding-right: 1%;
    padding-left: 1%;
}

#left_column > .launcher {
    margin-bottom: 20px;
    width: 100%;
    background-color: #fff;
    border: solid 1px #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;
    text-align: center;
}

#left_column > a:hover {
    text-decoration: none !important;
}
