{% extends ':Layout:layout.html.twig' %}

{% block content %}      
    <div class="col-lg-12">
        <h3>Suppression de la commande de {{commande.client.nomComplet}} du {{commande.dateCommande|date('d-M-Y')}}</h3>
        <p>
            Etes vous sur de vouloir supprimer la commande
        </p>
    </div>
    
    <div class="col-lg-12">
        <form action="{{ path('supprimer_commande', {'commande_num': commande.id}) }}" method="post">
            <a href="{{ path('commande_home') }}" class="btn btn-default">
                Retour liste commandes
            </a>
            <input type="submit" value="Supprimer" class="btn btn-danger" />
        </form>
    </div>
{% endblock %}
