{% extends ":Layout:layout.html.twig" %}

{% block left_nav %}
	<div class="list-group">
		<a href="{{path('commande_home')}}"><button type="button" class="btn btn-primary btn-lg btn-block">Récapitulatif</button></a>
	</div>
    <div class="list-group">
			<a href="{{path('lister_commande', {'commande_etat': 'en-cours'})}}"><button type="button" class="btn btn-default btn-lg btn-block">En cours</button></a>
			<a href="{{path('lister_commande', {'commande_etat': 'terminees'})}}"><button type="button" class="btn btn-default btn-lg btn-block">A encaisser</button></a>
	</div>
	<div class="list-group">
		<a href="{{path('lister_commande', {'commande_etat': 'archivees'})}}"><button type="button" class="btn btn-default btn-lg btn-block">Archives</button></a>
	</div>
{% endblock %}

{% block title %}
	Récapitulatifs des commandes
{% endblock %}

{% block content %}
	<h3>Commandes en cours</h3>
	{% if liste_commandes_encours %}
		{% include "FragosoBundle:Commande:snippet_commande.html.twig" with {'liste_commandes': liste_commandes_encours} %}
	{% else %}
		<div class="alert alert-info">Aucune commande en cours</div>
	{% endif %}
	
	<h3>Commandes en attente de paiement</h3>
	{% if liste_commandes_terminees %}
		{% include "FragosoBundle:Commande:snippet_commande.html.twig" with {'liste_commandes': liste_commandes_terminees} %}
	{% else %}
		<div class="alert alert-info">Aucun paiement en attente</div>
	{% endif %}
	
{% endblock %}
