{% block menu %}
	
<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="{{ path('fragoso_homepage') }}">
		<span class="glyphicon glyphicon-home"></span>
	</a>
</div>

<div class="collapse navbar-collapse" id="navbar-menu">		
	<ul class="nav navbar-nav">
		
		<li class=""><a href="#" class="" title="document">Catalogue</a></li>
	
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="cartographie">Commandes...</a>
			<ul class="dropdown-menu">
				<li><a href="#">En cours</a></li>
				<li><a href="#">Terminées</a></li>
			</ul>
		</li>
		
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Factures</a>
			<ul class="dropdown-menu">
				<li><a href="#">Deployment</a></li>
			</ul>
		</li>
		
	</ul>
	<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				{% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					<li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
				{% else %}
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="My Account"><img src="/pictures/img_avatar2.png" class="w3-circle" style="height:25px;width:25px" alt="Avatar"></a>
					<ul class="dropdown-menu">
						<li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
					</ul>
				{% endif %}
			</li>
			
	</ul>
</div>

{% endblock %}
